<a href="https://colab.research.google.com/github/LIMSONA/This_a_coding_test_for_employment/blob/main/Part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* 람다 표현식
___

In [2]:
# 람다 표현식 - 예제 만들기
#1 예제
array=[('a',4),('b',2),('c',3)]

def sona(x):
    return x[1]


print(sorted(array, key=sona))
print(sorted(array, key=lambda x: x[1]))

[('b', 2), ('c', 3), ('a', 4)]
[('b', 2), ('c', 3), ('a', 4)]

In [3]:
#2 예제

a=[1,2,3,4,5]
b=[6,7,8,9,10]

#   map(lambda 변수들: 원하는 값, 변수들 지정)
result=map(lambda x,y: x+y, a, b)
print(list(result))

[7, 9, 11, 13, 15]

* 실전에서 유용한 표준 라이브러리

---

* 내장함수: 기본 입출력 함수부터 정렬함수까지 기본적인 함수들을 제공합니다. 필수기능

* itertools: 파이썬에서 반복되는 형태의 데이터를 처리하기 위한 유용한 기능들을 제공합니다.

 - 특히 순열과 조합 라이브러리는 자주 사용

* heapq: 힙 자료 구조를 제공합니다. 일반적으로 우선순위 큐 기능을 구현

* bisect: 이진탐색(binary search) 기능을 제공
* collections: 덱(deque), 카운터(counter)등 유용한 자료구조를 포함

* math: 필수적인 수학적 기능을 제공

 - 팩토리얼, 제곱근, 최대공약수(GCD), 삼각함수 관련 함수부터 파이와 같은 상수를 포함

1. 내장함수

In [4]:
#sum( ) 합계, max( )최대값, min( )최소 값

#eval( ) : 계산한 문자열을 실제 수로 변환
result=eval('(3+5)*7')
print(result)

56

In [5]:
#sorted( ): 정렬 (기본적으로 오름차순 
#내림차순의 경우에는 reverse=True를 작성)

result=sorted([5,4,3,2,1])
print(result)

reverse_result=sorted([1,2,3,4,5],reverse=True)
print(reverse_result)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [3]:
#sorted( ) with key

array=[('장안구',1),('수원시',2),('경기도',3)]
result=sorted(array, key=lambda x: x[1], reverse=True)
print(result)

[('경기도', 3), ('수원시', 2), ('장안구', 1)]

2. itertools (순열과 조합)

* 순열: from itertools import permutations
* 조합: from itertools import combinations

* 중복순열: from itertools import product
* 중복조합: from itertools import combinations_with_replacement

In [8]:
# 순열 nPr
#n개 중에 r개 순서 고려하여 뽑기 

#data 중에 3개를 순서 고려하여 뽑기
from itertools import permutations
data=['a','b','c']  
result = list(permutations(data,2))
print(result)

[('a', 'b'), ('a', 'c'), ('b', 'a'), ('b', 'c'), ('c', 'a'), ('c', 'b')]

In [5]:
# 조합 nCr
# n개중에 r개 순서 고려하지 않고 뽑기

#data 중에 2개 뽑기
from itertools import combinations

data=['a','b','c']  
result=list(combinations(data,2))
print(result)

[('a', 'b'), ('a', 'c'), ('b', 'c')]

In [10]:
# 중복순열, 중복 조합

#중복 순열
#중복 허용해서 순서 고려하여 2개 뽑기
from itertools import product
data=['a','b','c']
result=list(product(data, repeat=2))
print(result)

#중복 조합
#중복 허용해서 순서 고려하지 않고 2개 뽑기
from itertools import combinations_with_replacement
data=['a','b','c']
result=list(combinations_with_replacement(data,2))
print(result)

[('a', 'a'), ('a', 'b'), ('a', 'c'), ('b', 'a'), ('b', 'b'), ('b', 'c'), ('c', 'a'), ('c', 'b'), ('c', 'c')]
[('a', 'a'), ('a', 'b'), ('a', 'c'), ('b', 'b'), ('b', 'c'), ('c', 'c')]